body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #03588C;
  /* background: linear-gradient(to left top, #03588C, #0F2440); */
  background: radial-gradient( #0F2440, #03588C);
}

.central-box {
  height:600px;
  width: 900px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-color: #fff;
  padding: 0;
}

/* LEFT SECTION */

.left-section{
  background-color: #84A9BF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.prof-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 5px #fff;
  margin: 50px auto;
}

.name{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.icon{
  color: black;
  font-size: 1.5rem;
  padding: 0 5px;
}

/* RIGHT SECTION */

.right-section{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  background-color: #fff;
}

.middle-section{
  padding: 20px;
}

.bottom-section{
  border-bottom-right-radius: 10px;
  /* height: 50px; */
  width: 100%;
  background-color: #D98D62;
}

#NavBar a{
  color: #03588C;
}

a.active{
  color: #A6583C !important;
}

.hide{
  display: none;
}

.div{
  height: 530px;
  width: 560px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* CHI SONO PAGE */
#AboutMe p{
  text-align: left;
}

q {
  font-style: italic;
  background-color:#84A9BF73;
  text-align: center;
}

/* EDUCATION PAGE  */
.eduCollapse{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.logo{
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.progress{
  height: 12px;
  width: 250px;
}

/* SKILL PAGE */
.skillIcon{
  color: black;
  font-size: 2rem;
  padding: 0 15px;
}

.language{
  text-align: left;
  font-size: 0.90rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.skillsCircle{
  color:  #03588C;
  font-size: 0.95rem;
  padding: 0 2px;
}


@media only screen and (max-width: 992px) {
  .central-box {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
  }

  .left-section{
    border-radius: 0;
    height: 600px;
  }

  .right-section{
    border-radius: 0;
  }

  .progress{
    /* margin-right: 10px; */
    width: auto;
  }

  .collapse{
    margin-top: 15px;
  }

  .div{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .bottom-section{
    margin-top: 20px;
    border-bottom-right-radius: 0;
    position: sticky !important;
    max-height: 50px;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
}
